global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend http_front
    bind *:80

    acl is_productos     path_beg /api/productos
    acl is_usuarios      path_beg /api/usuarios
    acl is_ordenes       path_beg /api/ordenes
    acl is_domiciliarios path_beg /api/domiciliarios-disponibles

    use_backend productos_back   if is_productos
    use_backend usuarios_back    if is_usuarios
    use_backend ordenes_back     if is_ordenes
    use_backend ordenes_back     if is_domiciliarios

frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s

backend productos_back
    balance roundrobin
    http-request replace-path /api/productos(.*) /productos\1
    server productos1 192.168.100.2:3000 check

backend usuarios_back
    balance roundrobin
    http-request replace-path /api/usuarios(.*) /usuarios\1
    server usuarios1 192.168.100.2:3001 check

backend ordenes_back
    balance roundrobin
    http-request replace-path /api/(.*) /\1
    server ordenes1 192.168.100.2:3002 check
